<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="10">
    <properties>
            <property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} [%L] %c{1.} [%p] [%t] %msg%n</property>
    </properties>
    <Appenders>
        <Console name="STDOUT">
           <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%L] %c{1.} [%p] [%t] %msg%n"/>
           <ThresholdFilter level="debug"/>
        </Console>
        <RollingFile name="APP" fileName="./logs/all.log"  filePattern="./logs/all.log.%d{MM-dd-yyyy}.gz">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%L] %c{1.} [%p] [%t] %msg%n</pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy />
        </RollingFile>
    </Appenders>
    <Loggers>
	    <Logger name="com.viettel" level="debug" additivity="true">
            <AppenderRef ref="STDOUT"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="APP"/>
        </Root>
    </Loggers>
</Configuration>
